button {
    border: 2px solid black;
    background-color: $pink;
    margin: 10px;
    font-weight: bold;
}

.botonCuadrado {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.busca {
    color: #ffffff;
    font-size: 30px;
    &::-webkit-input-placeholder {
        color: #ffffff;
        opacity: 0.7;
    }
}