.selection-interest {
    font-family: 'Montserrat', sans-serif;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 5.25rem;
    top: 9px;
}

.offset-md-4 {
    margin: 5px;
    left: 310px;
}

.intereses {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li{
        min-width: 100px;
    }
}

.btn-primary {
    color: white;
    background-color: $inputColor;
    border-color: $inputColor;
}

.btn-link {
    color: $inputColor;
}

