#definicion{
    background-color: $indigo;
}
#lugares{
    background-color: $orange;
}
#eventos{
    background-color: $red;
}
#blog{
    background-color: $yellow;
}
#articulos{
    background-color: $blue;
}
#sexo{
    background-color: $green;
}
#container{
    height: 200px;
    width: 80%;  
}