#fakebox-container {
    min-width: 410px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 215px;
    position: absolute;
    left: 0;
    right: 0;
}

.fakebox {
    max-width: 663px;
    margin: auto;
    position: relative;
}

.fakebox-search-icon {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 28px;
    height: 44px;
    left: 29px;
        i.fas.fa-search {
            color: $searchColor;
        }
}

#fakebox-input {
    background: $inputColor;
    border-radius: 40px;
    border: 0;
    box-shadow: 0 1px 6px #42051347;
    height: 54px;
    opacity: 1;
    padding-left: 66px;
}
.busca{
    color:white;
    &::-webkit-input-placeholder, &:focus-within{
        color:white;
    }
}
